* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: "Gruppo", bold;
  color: rgb(173, 177, 177);
}

body {
  background-color: rgb(27, 29, 30);
  font-family: Proxima Nova, serif;
}
#navbar {
  background: rgb(13, 31, 55);
  font-family: "Permanent Marker";
  color: black;
}

#Logo {
  height: 50%;
  width: 50%;
  align-content: center;
}

#fit_05 {
  height: 5%;
  width: 5%;
}

/* Color Theme Swatches in Hex */
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-1-hex {
  color: #bf4e58;
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-2-hex {
  color: #bf988a;
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-3-hex {
  color: #595959;
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-4-hex {
  color: #262626;
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-1-rgba {
  color: rgba(191, 78, 87, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-2-rgba {
  color: rgba(191, 151, 137, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-3-rgba {
  color: rgba(89, 89, 89, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-4-rgba {
  color: rgba(38, 38, 38, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in HSLA */
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-1-hsla {
  color: hsla(354, 46, 52, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-2-hsla {
  color: hsla(16, 29, 64, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-3-hsla {
  color: hsla(0, 0, 35, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-4-hsla {
  color: hsla(0, 0, 15, 1);
}
.Weightlifter-clapping-hands-and-preparing-for-workout-at-a-gym-5-hsla {
  color: hsla(0, 0, 5, 1);
}
